#page-landing{
  background-color: var(--color-primary);

}

.container{
  color: var(--color-text-in-primary);
}

.logo-container{
  /* a imagem também será centralizada ao meio */
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2{
  font-weight: 500;
  font-size:3.6rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
  color: var(--color-secondary);


}

.logo-container img{
  height: 10rem;
 
}

.hero-image{
  width: 100%;
  /* a referencia é o container */
}

.buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;
  font: 700 2.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var( --color-button-text);

  transition: background 0.2s;
}

.buttons-container a img {
  width: 4rem;
  margin-right: 2.4rem;
}

.buttons-container a.study{
  background-color: var(--color-primary-lighter);
}

.buttons-container a.study:hover{
  background-color: var(--color-primary-light);

}

.buttons-container a.give-classes{
  background-color:  var(--color-secondary);
  margin-right: 0;
}

.buttons-container a .give-classes{
  background-color: var(--color-secondary-dark);


}

.total-connections{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-connections img {
  margin-left: 0.8rem;
}

.total-connections p {
  color:var(--color-button-text);
}



  /* 
Aqui vamos trabalhar com desktop , que sao telas maiores que 1100px */

@media(min-width:1100px){
  #page-landing #container { 
    max-width:1100px;
    display: grid;
    grid-template-rows:  350px 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
    "proffy image image" 
    "button button texting";
    column-gap:60px;
  }
  
.logo-container{
grid-area: proffy;
text-align: initial;
/* nao deixa o conteudo escapar do grid */
align-self: center;
margin: 0;
}

.logo-container img{
  height: 127px;
}
.hero-image{
  grid-area:image;
  height: 350px;

}
.buttons-container{
  grid-area:button;
  justify-content: flex-start;
  margin:0;

}

.total-connections{
  grid-area:texting;
  justify-self: end;
}
}